$mainFont : 'Fira Sans', sans-serif;

$mainFontSize : 32px;
$smallFontSize : 24px;
$mainFontWeight : 400;
$bold : 700;
$spacing: 0.6px;

$desktopWidth : 1280px;
$smDesktopWidth : 980px;
$tableWidth : 768px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;