.header {
  background: no-repeat center/cover url(../img/header_bg.jpg);
  width: 100%;
  height: 100%;
}

.log {
  width: 200px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-basis: 80%;
  justify-content: space-around;
  align-items: center;
  @include font;
}

.nav__ul {
  display: flex;
  flex-basis: 60%;
  justify-content: space-around;
}

.nav__item:last-child {
  color: #9a6c71;

  &::after {
    content: url(../img/3_nokta.png);
    padding-left: 10px;
    position: relative;
    top: -5px;
  }
}

.nav__addition {
  display: flex;
  justify-content: space-between;
  flex-basis: 22%;
}

.help::after {
  content: '|';
  padding-left: 15%;
}

.login {
  width: 196px;
  height: 77px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: transparent;
  @include font;
}

.line {
  width: 100%;
  height: 2px;
  opacity: 0.4;
}

.searchBox {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 20px;
  background-color: #ffffff;
}

.searchBox__item {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;

  &:first-child {
    padding-top: 20px;
  }

  &:last-child {
    background-color: #cd3333;
    padding: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 0 0 20px 20px;
  }
}

.searchBox__item-subtitle {
  @include font;
  color: #cd3333;
  margin-bottom: 10px;
}

.searchBox__item-text {
  @include font;
  color: #b7b7b7;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.searchBox__item-arrow {
  content: url(../img/Rounded_Rectangle_1.png);
  width: 27px;
  height: 16px;
  margin-top: 45px;
}

.separator {
  width: 100%;
  height: 2px;
  opacity: 0.2;
}

.searchBox__item-search {
  @include font;
  letter-spacing: 0.9px;
  background-color: transparent;
  font-size: 36px;
}





















.headerContent {
  display: flex;
  flex-direction: column;
}