.header {
  background: no-repeat center/cover url(../img/header_bg.jpg);
  width: 100%;
  height: 100%;
}

.log {
  width: 200px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav {
  display: flex;
  flex-basis: 100%;
}

.navigation__inner {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
}

.nav {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  align-items: center;

  a {
    @include font;
  }
}

.nav__ul {
  display: flex;
  flex-basis: 60%;
  justify-content: space-around;
}

.more {
  color: #9a6c71;

  .dot::after {
    content: url(../img/3_nokta.png);
    padding-left: 10px;
    position: relative;
    top: -5px;
  }

  .triangle::after {
    content: url(../img/Rounded_Rectangle_1.png);
    padding-left: 10px;
    position: relative;
    top: 0px;
  }
}

.moreItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.nav__addition {
  display: flex;
  justify-content: space-around;
  flex-basis: 22%;
  align-items: center;
}

.help::after {
  content: '|';
  padding-left: 20%;
  color: #ffffff;
  position: relative;
  top: 3px;
}

.login {
  width: 196px;
  height: 77px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  @include font;
}

.modal {
  position: fixed;
  z-index: 110;
  left: 0;
  top: 0;
  @include size(100vw, 100vh);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.form {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #D38312, #A83279);
  text-align: center;
  border-radius: 150px;
}

.regForm {
  @include size(100%);
  border-radius: 0;
}

.close {
  @include font;
  font-size: 100px;
  z-index: 110;
  transform: translateX(90vw);
  height: 0;
}

.form h2 {
  @include font;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
}

.form p {
  @include font;
  text-transform: none;
}

.form input[ type="text"],
.form input[type="password"],
.form input[type="email"] {
  border: 0;
  background: none;
  display: block;
  margin: 30px auto;
  text-align: center;
  border: 2px solid #ffffff34;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: #ffffff;
  border-radius: 40px;
  transition: 0.25s ease;
}

.form input[ type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus {
  width: 300px;
  background-color: #6899C4;
}

.form input[ type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 30px auto;
  text-align: center;
  border: 2px solid #ffffff34;
  padding: 14px 40px;
  outline: none;
  color: #ffffff;
  border-radius: 40px;
  transition: 0.25s ease;
  cursor: pointer;
}

.form input[ type="submit"]:hover {
  background-color: #9CC83C;
}

.logErr,
.passErr {
  @include font;
  font-size: rem(35px);
  text-transform: none;
  z-index: 111;
  padding: 5px;
  opacity: 0.7;
  position: relative;
}

.line {
  width: 100%;
  height: 2px;
  opacity: 0.4;
}

.searchBox {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 20px;
  background-color: #ffffff;
}

.searchBox__item {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;

  &:first-child {
    padding-top: 20px;
  }

  &:last-child {
    background-color: #cd3333;
    padding: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 0 0 20px 20px;
  }
}

.searchBox__item-subtitle {
  @include font;
  color: #cd3333;
  margin-bottom: 10px;
}

.searchBox__item-text {
  select {
    @include font;
    color: #b7b7b7;
    font-weight: $mainFontWeight;
    letter-spacing: 0.8px;
    display: block;
    line-height: 1.3;
    padding: 0 200px 0 0;
    appearance: none;
    background-color: #ffffff;
    background-image: url('../img/Rounded_Rectangle_1.png');
    background-repeat: no-repeat;
    background-position: right 0 top 50%;

    &:focus {
      color: #222;
      outline: none;
    }
  }
}

.separator {
  width: 100%;
  height: 2px;
  opacity: 0.2;
}

.searchBox__item-search {
  @include font;
  letter-spacing: 0.9px;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
}

.headerContent {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -190px;
}

.headerContent__theme {
  @include font;
  font-size: 50px;
  margin-bottom: 55px;
  letter-spacing: 1.8px;

  span {
    border-bottom: 2px solid #ffffff;
  }
}

.headerContent__descr {
  @include font;
  text-transform: none;
  font-weight: $mainFontWeight;
  padding-bottom: 50px;
}

.headerContent__icons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.headerContent__content-item {
  @include font;
  font-size: 40%;
  font-weight: $mainFontWeight;
  text-transform: capitalize;

  .place::before {
    @include iconPosition(10px, 0, 10px);
    content: url(../img/place.png);
  }

  .time::before {
    @include iconPosition(10px, 0, 10px);
    content: url(../img/timezone.png);
  }

  .image {
    margin-right: -10px;
  }

  .flights::before {
    @include iconPosition(10px, 0, 10px);
    content: url(../img/flight.png);
  }

  .hotels::before {
    @include iconPosition(10px, 0, 10px);
    content: url(../img/hotel.png);
  }
}